<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      color="light-blue"
      dark
    >
      <v-list dense>
        <v-list-item
          v-for="link in links"
          :key="link.name"
          :to="link.link"
          link
          class="mb-1"
        >
          <v-list-item-action>
            <v-badge color="" v-if="link.badge" :content="inCart">
              <v-icon>
                {{ link.icon }}
              </v-icon>
            </v-badge>
            <v-icon v-else>
              {{ link.icon }}
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            {{ link.name }}
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      clipped-left
      color="light-blue"
      height="70"
      dark
    >
      <v-app-bar-nav-icon @click.stop="toggleDrawer" />
      <div class="d-flex align-center">
         <!-- Brand Icon goes here -->
      </div>
      
      <v-spacer></v-spacer>
      <div class="mt-7">
        <v-text-field 
          solo-inverted
          dense
          v-model="search"
          outlined
          flat
          label="Search"
        >
          <template v-slot:prepend-inner>
            <v-icon color="grey">mdi-magnify</v-icon>
          </template>
        </v-text-field>
      </div>
      <div v-if="!$session.has('session-id')">  
        <v-btn text to="/login">
          <v-icon>
            mdi-login
          </v-icon>
          Login
        </v-btn>
      </div>
      <div v-else>  
        <v-btn text fab to="/profile">
          <v-icon>
            mdi-account
          </v-icon>
        </v-btn>
        <v-btn text fab @click="logout">
          <v-icon>
            mdi-logout
          </v-icon>
        </v-btn>
      </div>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
    drawer: false,
    links: [
      {
        icon: 'mdi-home',
        name: 'Home',
        link: '/'
      },
      {
        icon: 'mdi-magnify',
        name: 'Search',
        link: '/search'
      },
      {
        icon: 'mdi-cart-outline',
        name: 'Checkout',
        badge: true,
        link: '/cart'
      }
    ]
  }),
  methods: {
    toggleDrawer(){
        this.drawer = !this.drawer
    },
    logout(){
      this.$session.destroy()
      this.$forceUpdate()
      this.$router.go(0)
      // this.$router.replace('/')
    },
    startSearch(){
      if(this.$route != '/search'){
        this.$router.push('/search')
      }
    }
  },
  computed: {
    search: {
      get() {
        return this.$store.state.search
      },
      set(value){
        this.$store.commit('setSearch', value)
      }
    },
    inCart() {
      return this.$store.state.cart.length
    }
  }
};
</script>
