<template>
    <v-container>
        <v-dialog v-model="dialog" width="250">
            <v-card>
                <v-card-title>Confirm</v-card-title>
                <v-card-text>Are you sure? This action cannot be undone!</v-card-text>
                <v-card-actions class="ml-3">
                    <v-btn color="success" @click="clearCart(); toggleDialog()">
                        <v-icon>mdi-check</v-icon>
                        Yes
                    </v-btn>
                    <v-btn color="red" dark @click="toggleDialog">
                        <v-icon>mdi-close</v-icon>
                        No
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-row align="center">
            <v-col>
                <v-card>
                    <v-container
                        fluid
                        class="px-5 py-5"
                    >
                        <v-row>
                            <v-col cols="12" align="center">
                                <p class="title">Checkout</p>
                            </v-col>
                            <v-col cols=12 v-if="cart.length != 0">
                                <v-list
                                >
                                    <v-list-item-group>
                                        <v-list-item
                                            v-for="item in cart"
                                            :key="cart.indexOf(item)"
                                        >
                                            <v-list-item-content>
                                                <v-list-item-title v-text="item.name"></v-list-item-title>
                                                <v-list-item-subtitle v-text="'Sold By: ' + item.seller.name + ' | Price: ' + item.seller.price"></v-list-item-subtitle>
                                            </v-list-item-content>
                                            <v-list-item-action>
                                                <v-btn icon @click="removeFromCart(item)">
                                                    <v-icon color="red">mdi-close</v-icon>
                                                </v-btn>
                                                <v-btn icon >
                                                    <v-icon color="green">mdi-information-outline</v-icon>
                                                </v-btn>
                                            </v-list-item-action>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                                <hr class="mx-3">
                                <v-row class="mx-1">
                                    <v-col cols="6">Total Price: </v-col>
                                    <v-spacer></v-spacer>
                                    <v-col cols="6" align="right">${{ totalPrice }}</v-col>
                                </v-row>
                                <v-row class="mx-1">
                                    <v-col cols="12" align="right" v-if="$session.has('session-id')">
                                        <v-btn color="success" class="mr-2">
                                            <v-icon>mdi-check</v-icon>
                                            Pay
                                        </v-btn>
                                        <v-btn color="red" dark @click="toggleDialog">
                                            <v-icon>mdi-close</v-icon>
                                            Cancel
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" align="center" v-else>
                                        <div>Please <router-link to="/login">log in</router-link> to pay for items</div>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col v-else align="center">
                                <div class="body-1">
                                    You currently do not have any items in your cart!
                                </div>
                                <div>
                                    <v-icon>mdi-emoticon-sad-outline</v-icon>
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import { mapState } from 'vuex'
export default {
    data: () =>  ({
        dialog: false,
    }),
    methods: {
        removeFromCart(item){
            this.cart.splice(this.cart.indexOf(item), 1)
        },
        clearCart(){
            this.$store.state.cart = []
        },
        toggleDialog(){
            this.dialog = !this.dialog
        }
    },
    computed: mapState({
        cart: state => state.cart,
        totalPrice() {
            let total = 0
            for(let item of this.cart){
                total += item.seller.price
            }

            return total
        }
    })
}
</script>
<style>

</style>
