<template>
  <v-container 
    fluid
    class="px-10 py-10"
  >
    <!-- Featured items -->
    <v-row
        width="100"
    >
        <div style="width: 100%">
            <p class="display-1">
                <v-icon color="black">mdi-star</v-icon>Featured Items
            </p>
            <hr>
        </div>
        <v-col class="mt-5 mb-5" :key="item.id" v-for="item in featuredItems">
            <v-card>
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-spacer></v-spacer>
                            Featured By: {{ item.featuredSeller.name }}
                            <v-spacer></v-spacer>
                            Price: ${{ item.featuredSeller.price }}
                        </v-col>
                        <v-col>
                            <v-img
                                :src="item.image ? item.image : 'https://via.placeholder.com/200x100'"
                            ></v-img>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-btn text :to="'/item/' + item.id" color="light-blue">View</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
    
    <!-- On Sale -->
    <v-row>
        <div style="width: 100%">
            <p class="display-1">
                <v-icon color="black">mdi-sale</v-icon>On Sale
            </p>
            <hr>
        </div>
        <v-col class="mt-5 mb-5" :key="item.id" v-for="item in onSale">
            <v-card>
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-spacer></v-spacer>
                            Featured By: {{ item.featuredSeller.name }}
                            <v-spacer></v-spacer>
                            Price: ${{ item.featuredSeller.price }}
                        </v-col>
                        <v-col>
                            <v-img
                                :src="item.image ? item.image : 'https://via.placeholder.com/200x100'"
                            ></v-img>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-btn text :to="'/item/' + item.id" color="light-blue">View</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>

    <!-- Trending -->
    <v-row>
        <div style="width: 100%">
            <p class="display-1">
                <v-icon color="black">mdi-trending-up</v-icon>Trending
            </p>
            <hr>
        </div>
        <v-col class="mt-5 mb-5" :key="item.id" v-for="item in trending">
            <v-card>
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-spacer></v-spacer>
                            Featured By: {{ item.featuredSeller.name }}
                            <v-spacer></v-spacer>
                            Price: ${{ item.featuredSeller.price }}
                        </v-col>
                        <v-col>
                            <v-img
                                :src="item.image ? item.image : 'https://via.placeholder.com/200x100'"
                            ></v-img>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-btn text :to="'/item/' + item.id" color="light-blue">View</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    featuredItems: [],
    onSale: [],
    trending: []
  }),
  beforeMount(){
    this.axios.get('/featured').then(response => {
        this.featuredItems = response.data
    }).catch(error => {
        console.log(error)
    })

    this.axios.get('/trending').then(response => {
        this.trending = response.data
    }).catch(error => {
        console.log(error)
    })

    this.axios.get('/onSale').then(response => {
        this.onSale = response.data
    }).catch(error => {
        console.log(error)
    })
  }
};
</script>
