<template>
    <v-container
        class="px-10 py-10"
    >
        <v-dialog 
            v-model="dialog"
            max-width="450"
        >
            <v-card>
                <v-container>
                    <v-row>
                        <v-col>
                            <h1 class="title mb-5">Leave a review</h1>
                            <v-form 
                                ref="form" 
                                @submit.prevent="submitReview" 
                                v-if="$session.has('session-id')" 
                                lazy-validation
                            >
                                <v-text-field 
                                    v-model="review.title"
                                    label="Title"
                                    :rules="reviewTitleRules"
                                    outlined
                                ></v-text-field>
                                <v-textarea
                                    v-model="review.text"
                                    label="Review"
                                    :rules="reviewTextRules"
                                    outlined
                                ></v-textarea>
                                <v-btn text color="primary" type="submit">Submit</v-btn>
                                <v-btn text color="red" @click="toggleDialog">Cancel</v-btn>
                            </v-form>
                            <p class="body-1" v-else>
                                You must be <router-link to="/login">logged in</router-link> to leave a review.
                            </p>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-dialog>
        <!-- Item -->
        <v-row
            justify="center"
        >
            <v-col class="mx-0 px-0 px-5 mb-2" sm="12" xs="12" md="4" align="center">
                <v-img 
                    :src="item.image ? item.image : 'https://via.placeholder.com/350x450'"
                    contain
                    @click="toggleDialog"
                    class="px-0 py-0"
                ></v-img>
            </v-col>
            <v-col sm="12" xs="12" md="4" class="mx-0 px-0 py-0">
                    <v-col cols="12" class="py-0">
                        <v-card>
                            <v-card-title>{{ item.name }}</v-card-title>
                            <v-card-subtitle>{{ item.code }}</v-card-subtitle>
                            <v-card-text>
                                {{ item.description }}
                                <v-spacer></v-spacer>
                                <b>Sold by: {{ item.sellers[0].name }}</b>
                                <v-spacer></v-spacer>
                                <b>Price: <span>${{ item.sellers[0].price }}</span></b>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn text @click="addToCart(item.sellers[0])">
                                    <v-icon>mdi-cart-plus</v-icon>
                                    Add to Cart
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-card>
                            <v-card-title>Sellers</v-card-title>
                            <v-card-text>
                                <v-row class="py-0 px-0">
                                    <v-col :key="seller.name" v-for="seller in item.sellers">
                                        <v-card dark flat>
                                            <v-card-title>
                                                {{ seller.name }}
                                                <v-icon color="green" v-if="seller.verified">
                                                    mdi-check-circle-outline
                                                </v-icon>
                                            </v-card-title>
                                            <v-card-subtitle><b>Price: ${{ seller.price }}</b></v-card-subtitle>
                                            <v-card-actions>
                                                <v-btn text block @click="addToCart(seller)">
                                                    <v-icon>
                                                        mdi-cart-plus
                                                    </v-icon>
                                                    Add to cart
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
            </v-col>
            <v-col sm="12" xs="12" md="10" class="px-3">
                <v-card>
                    <v-card-title>
                        Users Review
                        <v-spacer></v-spacer>
                        <v-btn small text color="primary" @click="toggleDialog">Leave a review?</v-btn>
                    </v-card-title>
                    <v-card-text>
                        <span class="body-1"><b>Overall Rating: {{ item.rating }} / 5.0</b></span>
                        <v-spacer></v-spacer>
                        <v-row>
                            <v-col cols="12">
                                <v-card :key="review.id" v-for="review in reviews" flat>
                                    <v-container>
                                        <v-row>
                                            <v-col xs="2" md="1" align="center">
                                                <v-avatar>
                                                    <img 
                                                        v-if="review.user.profile.image != null" 
                                                        :src="review.user.profile.image" 
                                                        :alt="review.user.profile.name"
                                                    >
                                                    <v-icon v-else>
                                                        mdi-account
                                                    </v-icon>
                                                </v-avatar>
                                                <v-spacer></v-spacer>
                                                <span class="caption">{{ review.user.profile.name }}</span>
                                            </v-col>
                                            <v-col cols="10">
                                                <span class="title">{{ review.title }}</span>
                                                <v-spacer></v-spacer>
                                                <span class="body-1">{{ review.text }}</span>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <!-- Reviews -->
        <v-row justify="center">
            
        </v-row>
    </v-container>
</template>
<script>
export default {
    data: () => ({
        dialog: false,
        reviewTitleRules: [
            v => !!v || 'Title is required'
        ],
        reviewTextRules: [
            v => !!v || 'Review is required'
        ],
        review: {
            title: null,
            text: null
        },
        item: null,
        reviews: [
            {
                id: 1,
                title: 'Lorem ipsum',
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit delectus ullam accusantium laborum amet rem vitae numquam at, iure tempore maxime reprehenderit voluptates distinctio natus pariatur, eum sint quia.',
                user: {
                    profile: {
                        name: 'George Takei',
                        image: 'https://www.motherjones.com/wp-content/uploads/shutterstock_176156327.jpg?w=990'
                    }
                }
            },
            {
                id: 2,
                title: 'Lorem ipsum',
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit delectus ullam accusantium laborum amet rem vitae numquam at, iure tempore maxime reprehenderit voluptates distinctio natus pariatur, eum sint quia.',
                user: {
                    profile: {
                        name: 'John Goodman',
                        image: 'https://m.media-amazon.com/images/M/MV5BYTk4OTE5ZDQtMzRkNC00NTM5LTkxYmUtNWYzYjc4OTQyODZlXkEyXkFqcGdeQXVyNDc3NDQzMzU@._V1_SX1777_CR0,0,1777,999_AL_.jpg'
                    }
                }
            },
            {
                id: 3,
                title: 'Lorem ipsum',
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit delectus ullam accusantium laborum amet rem vitae numquam at, iure tempore maxime reprehenderit voluptates distinctio natus pariatur, eum sint quia.',
                user: {
                    profile: {
                        name: 'Keanu Reeves',
                        image: 'https://upload.wikimedia.org/wikipedia/commons/9/90/Keanu_Reeves_%28crop_and_levels%29_%28cropped%29.jpg'
                    }
                }
            },
        ]
    }),
    props: {
        id: null
    },
    methods: {
        toggleDialog() {
            this.dialog = !this.dialog
            if(!this.dialog){
                this.$refs.form.resetValidation()
            }
        },
        submitReview() {
            if(!this.formValidated()){
                return
            }
            let user = {
                profile: {
                    name: 'Good Waldo',
                    // image: ''
                }
            }
            this.review['id'] = this.reviews[this.reviews.length - 1] + 1
            this.review['user'] = user
            this.reviews.push(this.review)
            this.toggleDialog()
            return true
        },
        formValidated() {
            return this.$refs.form.validate()
        },
        addToCart(seller){
            let item = {}
            for(let key of Object.keys(this.item)) {
                item[key] = this.item[key]
            }
            item['seller'] =  seller
            this.$store.state.cart.push(item)
        }
    },
    computed: {

    },
    beforeCreate() {
        
    },
    created() {
        
    },
    beforeMount() {
        this.axios.get('/products/' + this.id).then(response => {
            this.item = response.data
        }).catch(error => {
            console.log(error)
        })
    },
    mounted() {

    },
    beforeUpdate() {
        
    },
    updated() {

    }
}
</script>
<style>

</style>
