<template>
    <v-container
        fluid
        class="fill-height"
    >
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="12"
                sm="8"
                md="4"
            >   
                <!-- <transition name="fade"> -->
                <v-card
                    elevation="12"
                >
                    <v-toolbar color="light-blue" dark flat>
                        <v-toolbar-title>Login</v-toolbar-title>
                    </v-toolbar>
                    <v-form ref="form" @submit.prevent="login" lazy-validation>
                        <v-card-text>
                            <v-text-field 
                                label="E-mail"
                                v-model="user.email"
                                required
                                :rules="emailRules"
                                outlined
                                @submit.prevent=""
                            ></v-text-field>
                            <v-text-field
                                label="password"
                                v-model="user.password"
                                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showPassword ? 'text' : 'password'"
                                :rules="passwordRules"
                                @click:append="toggleShowPassword"
                                outlined
                            ></v-text-field>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn text to="/">Go Back</v-btn>
                            <v-btn text color="primary" type="submit">Login</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
                <!-- </transition> -->
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
export default {
    data: () =>  ({
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'Invalid E-mail',
        ],
        passwordRules: [
            v => !!v || 'Password is required'
        ],
        user: {
            email: null,
            password: null
        },
        showPassword: false
    }),
    methods: {
        validated() {
            return this.$refs.form.validate()
        },

        toggleShowPassword() {
            this.showPassword = !this.showPassword
        },

        login() {
            if(!this.validated()) {
                return
            }
            this.$session.start()
            this.$session.set('user', this.user.name)
            this.$router.push('/')
        }
    },
    beforeCreate() {
        
    },
    created() {
        
    },
    beforeMount() {
        
    },
    mounted() {
        if(this.$session.exists()){
            this.$router.push('/')
        }
    },
    beforeUpdate() {
        
    },
    updated() {

    }
}
</script>
<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
