<template>
    <v-container>
        <v-snackbar v-model="showSnackBar">
            {{message}}
            <v-btn icon text fab>
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-dialog 
        class="px-0 py-0" 
        ref="dialog" 
        v-model="videoSearch" 
        :width="dialogWidth" 
        @click:outside="toggleVideoSearch" 
        style="overflow: hidden !important">
            <v-card class="px-0 py-0 mr-0">
                <v-row>
                    <v-col cols="12">
                        <div class="result-frame">
                            <video ref="video" autoplay></video>
                            <canvas ref="canvas" :width="resultWidth" :height="resultHeight"></canvas>
                        </div>
                    </v-col>
                </v-row>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="searchProduct">Search</v-btn>
                    <v-btn text @click="toggleVideoSearch">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-container>
                        <!-- Search -->
                        <v-row>
                            <v-col cols="12">
                                <v-form @submit.prevent="searchProduct">
                                    <div>
                                        <v-file-input v-if="imageSearch"
                                            label="Image Search"
                                            outlined
                                            prepend-icon
                                            dense
                                            v-model="image"
                                            accept="image/*"
                                            prepend-inner-icon="mdi-magnify"
                                        >
                                            <template v-slot:append>
                                                <v-icon @click="toggleVideoSearch" class="mr-2">{{ videoIcon }}</v-icon>
                                                <v-icon @click="toggleImageSearch">mdi-camera</v-icon>
                                            </template>
                                            <template v-slot:append-outer>        
                                                <v-btn small color="primary" type="submit" text>
                                                    <v-icon>mdi-magnify</v-icon>
                                                    Search
                                                </v-btn>
                                            </template>
                                        </v-file-input>
                                        <v-text-field v-else
                                            label="Search"
                                            outlined
                                            dense
                                            v-model="search"
                                            prepend-inner-icon="mdi-magnify"
                                        >
                                            <template v-slot:append>
                                                <!-- <v-btn text fab small > -->
                                                    <v-icon @click="toggleVideoSearch" class="mr-2">{{ videoIcon }}</v-icon>
                                                <!-- </v-btn> -->
                                                <!-- <v-btn text small fab  @click="toggleImageSearch"> -->
                                                    <v-icon @click="toggleImageSearch">mdi-camera-off</v-icon>
                                                <!-- </v-btn> -->
                                            </template>
                                            <template v-slot:append-outer>        
                                                <v-btn small color="primary" type="submit" text>
                                                    <v-icon>mdi-magnify</v-icon>
                                                    Search
                                                </v-btn>
                                            </template>
                                        </v-text-field>
                                    </div>
                                </v-form>
                            </v-col>
                        </v-row>
                        <!-- Results -->
                        <v-row v-if="!resultMessage">
                            <!-- <span v-if="!resultMessage"> -->
                            <v-col xs="12" sm="12" md="4" :key="product.id" v-for="product in products">
                                <v-card>
                                    <v-card-title>{{ product.name }}</v-card-title>
                                    <v-card-subtitle>{{ product.code }}</v-card-subtitle>
                                    <v-card-text>
                                        {{ product.description | truncate(300, '...') }}
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn text color="primary" :to="'/item/' + product.id">View</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row v-else>
                            <v-col align="center">
                                {{ resultMessage }} <br> <v-icon color="black">mdi-sad</v-icon>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import * as cocoSsd from '@tensorflow-models/coco-ssd'
const toB64 = file => new Promise((resolve, reject) => {
    let reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => resolve(reader.result)
    reader.onerror = error => reject(error)
})

export default {
    data: () =>  ({
        showSnackBar: false,
        detection: false,
        image:null,
        search: null,
        results: null,
        resultMessage: null,
        imageSearch: false,
        dialogWidth: 600,
        dialogHeight: 350,
        videoSearch: false,
        searched: false,
        products: [],
        message: null,
        objectIdentification: {
            streamPromise: null,
            modelPromise: null,
            streamReady: null,
            modelReady: null,
            model: null,
            baseModel: 'mobilenet_v2',
            selectableModels: ['lite_mobilenet_v2', 'mobilenet_v1', 'mobilenet_v2']
        },
        videoRatio: 0.5, 
        resultWidth: 0,
        resultHeight: 0
    }),
    methods: {
        initCameraStream(){
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                return navigator.mediaDevices.getUserMedia({
                    audio: false,
                    video: { facingMode: 'environment' }
                }).then(stream => {
                    let video = this.$refs.video
                    try{
                        video.srcObject = stream
                    } catch(error) {
                        video.src = URL.createObjectURL(stream)
                    }

                    return new Promise((resolve, reject) => {
                        video.onloadedmetadata = () => {
                            this.videoRatio = video.offsetHeight / video.offsetWidth

                            window.addEventListener('resize', this.setResultSize)

                            this.setResultSize()

                            this.objectIdentification.streamReady = true
                            console.log('webcam stream initialized')
                            resolve()
                        }
                    })
                }).catch(error => {
                    console.log('Failed to init webcam stream: ', error)
                    throw(error)
                })
            } else {
                return Promise.reject(new Error('Browser does not support mediaDevices API'))
            }
        },
        setResultSize() {
            let clientWidth = document.documentElement.clientWidth
            this.resultWidth = Math.min(this.$refs.dialog.width, clientWidth)
            this.resultHeight = this.resultWidth * this.videoRatio

            this.$refs.video.width = this.resultWidth
            this.$refs.video.height = this.resultHeight
        },
        loadModel() {
            this.objectIdentification.modelReady = false

            this.objectIdentification.model ? this.objectIdentification.model.dispose() : null
            return cocoSsd.load(this.objectIdentification.baseModel).then(model => {
                this.objectIdentification.model = model
                this.objectIdentification.modelReady = true
                this.showSnackBar = true
                this.message = 'Object identification model loaded'
                console.log('Object Identification model loaded')
            }).catch((error) => {
                this.showSnackBar = true
                this.message = 'Failed to load model: ' + error
                console.log('Error loading model: ' + error)
                throw(error)
            })
        },
        async detectObjects() {
            if(!this.objectIdentification.modelReady){
                this.showSnackBar = true
                this.message = 'Model is not ready'
                console.log('Model is not ready')
                return
            }
            let predictions = await this.objectIdentification.model.detect(this.$refs.video)
            this.results = predictions
            this.renderPredictions(predictions)
            requestAnimationFrame(() => {
                this.detectObjects()
            })
        },
        StartDetecting() {
            Promise.all([this.objectIdentification.streamPromise, this.objectIdentification.modelPromise]).then(() => {
                // console.log('Detection started')
                this.detectObjects()
            }).catch((error) => {
                this.showSnackBar = true
                this.message = 'Failed to initialize camera and / or model: ' + error
                console.log('Error Starting detection')
            })
        },
        renderPredictions(predictions) {
            const ctx = this.$refs.canvas.getContext('2d')
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height)
            predictions.forEach(prediction => {
                ctx.beginPath()
                ctx.rect(...prediction.bbox)
                ctx.lineWidth = 3
                ctx.strokeStyle = 'red'
                ctx.fillStyle = 'red'
                ctx.stroke()
                ctx.shadowColor = 'white'
                ctx.shadowBlur = 10
                ctx.font = '24px Roboto'
                ctx.fillText(
                  `${(prediction.score * 100).toFixed(1)}% ${prediction.class}`,
                  prediction.bbox[0],
                  prediction.bbox[1] > 10 ? prediction.bbox[1] - 5 : 10
                )
            })
        },
        toggleImageSearch(){
            this.imageSearch = !this.imageSearch
        },
        toggleVideoSearch(){
            this.detection = !this.detection
            this.videoSearch = !this.videoSearch
            if(this.videoSearch) {
                this.objectIdentification.streamPromise = this.initCameraStream()
                if(this.detection){
                    this.StartDetecting()
                }
            }
            else{
                // Kill stream
                this.$refs.video.pause()
                this.$refs.video.src = ""
                this.$refs.video.srcObject.getTracks()[0].stop()
                // if(this.prediction != null){

                // }
            }
        },
        async searchProduct(){
            if(this.videoSearch){
                this.$refs.video.pause()
                let data = []
                for(let prediction of this.results) {
                    data.push(prediction.class)
                }

                data = {
                    'search': data
                }

                this.axios.post('/search', data).then(response => {
                    this.products = response.data
                    this.resultMessage = this.products.length === 0 ? 'No results found' : null
                    this.$refs.video.src = ""
                    this.$refs.video.srcObject.getTracks()[0].stop()

                    this.toggleVideoSearch()
                }).catch(error => {
                    this.message = error
                    this.showSnackBar = true
                })
            }
            else if(this.imageSearch){
                let file = this.image
                try{
                    file = await toB64(file)
                    let data = {
                        'image': file,
                        'extension': '.' + this.fileExtension
                    }

                    // return data
                    this.axios.post('/search', data).then(response => {
                        this.products = response.data
                        this.resultMessage = this.products.length === 0 ? 'No results found' : null
                    }).catch(error => {
                        this.message = error
                        this.showSnackBar = true
                    })
                } catch(error) {
                    this.message = 'Error encoding file in base64'
                    this.showSnackBar = true
                    return
                } 
            }
            else {
                let data = {
                    'search': this.search.split(' ')
                }
                this.axios.post('/search', data).then(response => {
                    this.products = response.data
                    this.resultMessage = this.products.length === 0 ? 'No results found' : null
                }).catch(error => {
                    this.showSnackBar = true
                    this.message = error
                    console.log(error)
                })
            }
        },
    },
    computed: {
        fileExtension(){
            return this.image != null ? this.image.name.split('.').pop() : ''
        },
        videoIcon(){ 
            return this.videoSearch ? 'mdi-video-off' : 'mdi-video'
        }
    },
    mounted() {
        this.objectIdentification.modelPromise = this.loadModel()
    }
}
</script>
<style lang="scss">
.result-frame {
    display: grid;
    video {
    grid-area: 1 / 1 / 2 / 2;
    }
    canvas {
    grid-area: 1 / 1 / 2 / 2;
    }
}
</style>
